<div
  (click)="playLoaded()"
  [ngClass]="{'active': showMobilePlay}"
  class="mobile-play">
  <span
    class="play-icon"
    [inlineSVG]="'/assets/images/play.svg'">
  </span>
</div>
<div class="mobileIntro" [ngClass]="{'top': seenIntro}" *ngIf="!voiceButtonVisible && isOnJamPage && isTouch && showIntroText && (showMobilePlay || fallback.supported)">
  {{mobileIntroText}}
</div>
<div (click)="startMobile()" class="mobileCTA inverted" *ngIf="seenIntro && isOnJamPage && !voiceButtonVisible && isTouch && !showMobilePlay && fallback.supported">{{startCopy}}</div>
<div
  class="voice-wrap"
  [ngClass]="{'visible': voiceButtonVisible}">
  <voice-button
    class="mic"
    cloud-speech-api-key="AIzaSyDhmUOpXNu4RJCmqhDDqP9FVFrOYtlRcvo"
    [autodetect]="true"
    (touchstart)="touchAudio()"
    angulartics2On="click"
    angularticsEvent="Click"
    angularticsCategory="Activate_Mic"
    id="voice-button">
  </voice-button>
</div>
<canvas
  #visualTracksCanvas>
</canvas>
